table {
    border: 10px solid black;
}

th {
    border: 6px solid red;
}

td {
    border: 3px solid green;
}

input {
    width: 300px;
}

.top-container {
    text-align: center;
    align-content: center;
    padding: 10px;
    border: 1px solid blue;
    width: 90%;
    margin: auto;
}

.top-banner {
    font-size: 36px;
}

.schedules {
    width: 90%;
    margin: auto;
    padding: 10px;
    border: 1px solid green;
}

.train-times {
    width: 100%;
}

.entry-form {
    padding: 10px;
    border: 1px solid black;
    width: 90%;
    align-content: center;
    margin: auto;
}